<div>
  <p>Exemple de activități de învățare:</p>
  <ul>
    <li>
      caracteristici ale gândirii computaționale și ale principalelor etape ale elaborării unui program (analiză,
      proiectare, implementare, testare și depanare), repere pentru aplicarea acestor etape în rezolvarea problemelor;
      <ul>
        <li>identificarea datelor cu care lucrează algoritmii, pe baza caracteristicilor acestora (date de intrare, date
          ieșire, date de manevră)
        </li>
        <li>conceperea unei diagrame care ilustrează etapele de elaborare a unui program</li>
        <li>enumerarea etapelor de elaborare a unui program, precizând rolul fiecăreia</li>
        <li>explicarea rolului și importanței fiecărei etape din procesul de dezvoltare a unui program</li>
      </ul>
    </li>

    <br>
    <li>
      moduri de reprezentare a algoritmilor: caracteristici de bază, avantaje și limite ale principalelor moduri de
      reprezentare și executare a algoritmilor: blocuri grafice, pseudocod, limbaj de programare de nivel înalt, limbaj
      de programare de nivel scăzut, interpretor de comenzi, compilator;
    </li>
    <br>

    <li>
      repere pentru proiectarea modulară a algoritmilor
      <ul>
        <li>asocierea unor termeni precum modul, gândire computațională, proiectare cu rolul lor în rezolvarea unei
          probleme informatice
        </li>
        <li>explicarea etapelor a două strategii de rezolvare prin proiectarea modulară a algoritmilor pentru aceeași
          problemă, subliniind diferențele de organizare a modulelor și impactul acestora asupra clarității și
          eficienței soluției
        </li>
        <li>explicarea rolului fiecărui modul în cadrul unei aplicații cunoscute, pentru realizarea obiectivelor
          acesteia
        </li>
        <li>descompunerea unei probleme, având descrierea rezolvării acesteia, în subprobleme (module), indicând etapele
          de lucru pentru fiecare
        </li>
        <li>utilizarea principiilor de proiectare modulară pentru o aplicație simplă (de exemplu, gestionarea unor
          cheltuieli și încasări lunare), atribuind câte un modul fiecărui membru al unei echipe
        </li>
        <li>aplicarea unui model de proiectare modulară în realizarea unei soluții, în vederea efectuării etapelor de
          analiză, proiectare, testare în cadrul fiecărui modul
        </li>
        <li>analizarea modulelor unui cod sursă al unui sistem complex de validare a datelor (de ex., un sistem care
          validează formulare web), punând în evidență contribuția fiecărui modul la procesul general de validare
        </li>
        <li>analizarea avantajelor și dezavantajelor utilizării modulelor în cadrul elaborării unui program</li>
        <li>analizarea modului în care interacționează modulele unei aplicații, pe baza unei diagrame care arată
          componentele acesteia și modul în care interacționează
        </li>
        <li>argumentarea avantajelor descompunerii unei probleme complexe în etape sau subprobleme mai simple (citire
          date, validare, rezolvare propriu-zisă, afișare rezultat) din perspectiva verificării corectitudinii fiecărui
          modul
        </li>
        <li>evaluarea comparativă a două soluții ale unei probleme, una modulară și una compactă, argumentând care este
          mai eficientă
        </li>
        <li>descompunerea unei aplicații în module, în cadrul unui grup, în care fiecare modul este abordat de câte un
          membru al grupului, și integrarea acestor rezolvări, ulterior, într-un produs unitar
        </li>
        <li>conceperea unei diagrame generale pentru rezolvarea modulară a unei probleme, evidențiind componentele și
          conexiunile dintre ele
        </li>
        <li>completarea unei aplicații existente (de exemplu: o aplicație de gestionare a bibliotecii școlare, un sistem
          de evidență a prezenței, un registru digital etc.), a cărei descriere este dată, cu un modul nou, care adaugă
          o
          funcționalitate suplimentară (de exemplu, raportare, notificări, export de date, interfață de administrare
          etc.), respectă principiile de proiectare modulară și poate fi integrat în structura existentă
        </li>
      </ul>
    </li>
    <br>

    <li>
      criterii de elaborare a testelor (pentru validarea datelor și pentru verificarea comportamentului algoritmului),
      repere pentru urmărirea evoluției valorilor variabilelor în scopul identificării și tratării erorilor
      <ul>
        <li>analizarea erorilor apărute în programele informatice în scopul încadrării lor într-una dintre categoriile:
          erori de sintaxă, de logică, de executare
        </li>
      </ul>
    </li>

  </ul>
</div>
