<div>
  <p>Exemple de activități de învățare:</p>
  <ul>
    <li>
      eficiența algoritmilor: caracteristici ale eficienței din punctul de vedere al spațiului de memorie și din
      punctul de vedere al timpului de executare, criterii pentru determinarea ordinului de complexitate a unui algoritm
      polinomial (notația O)
      <ul>
        <li>evaluarea timpului de executare a diferiților algoritmi pentru seturi de date de dimensiuni diferite și
          reprezentarea grafică a rezultatelor
        </li>
        <li>evaluarea corectitudinii și eficienței unei soluții propuse de colegi, oferind feedback privind claritatea
          și independența modulelor
        </li>
        <li>evaluarea complexității a doi algoritmi dați pentru determinarea divizorilor unui număr natural stabilind
          care dintre cei doi algoritmi este mai eficient (de exemplu, parcurgere a posibililor divizori de la 1 până la
          n, până la n/2 sau până la √n)
        </li>
        <li>analizarea a doi algoritmi alternativi dați pentru determinarea divizorilor unui număr în vederea estimării
          numărului de operații efectuate
        </li>
      </ul>
    </li>
    <br>

    <li>
      operații specifice cu cifrele unui număr (acces la o cifră a unui număr, adăugare a unei cifre la stânga unui
      număr, adăugare a unei cifre la dreapta unui număr), determinarea unui divizor/multiplu al unui număr
      <ul>
        <li>reamintirea secvenței de operații necesare pentru a adăuga o cifră la dreapta celorlalte cifre ale unui
          număr, în
          contextul determinării valorii rezultate în urma eliminării tuturor cifrelor impare ale unui număr,
          evidențiind
          necesitatea păstrării ordinii inițiale a cifrelor pare rămase și a cifrelor nule de la finalul numărului
        </li>
        <li>explicarea procesului de formare a unui număr nou prin adăugarea repetată a câte unei cifre în stânga celor
          existente, evidențiind înmulțirea cifrei adăugate cu o variabilă, pe baza unui algoritm dat
        </li>
        <li>urmărirea raționamentului rezultat prin operațiile din cadrul unui algoritm pentru a verifica dacă acesta
          determină obținerea oglinditului unui număr natural
        </li>
        <li>argumentarea faptului că un algoritm ce construiește oglinditul unui număr și apoi oglinditul oglinditului
          nu
          conduce totdeauna la obținerea numărului inițial, susținută de teste adecvate și compararea rezultatelor
          obținute cu
          cele așteptate
        </li>
      </ul>
    </li>
    <br>

    <li>
      repere pentru prelucrarea numerelor (de exemplu parcurgerea cifrelor unui număr, a divizorilor unui număr,
      descompunere a unui număr în factori primi) și aplicarea algoritmilor de bază
      <ul>
        <li>simularea procesului de obținere a divizorilor unui număr natural dat utilizând reperele pentru parcurgerea
          acestora
        </li>
        <li>implementarea unor algoritmi de divizibilitate dați pentru a verifica dacă un număr natural este perfect,
          determinând suma divizorilor acestuia
        </li>
        <li>analizarea avantajelor utilizării divizorilor unui număr în contexte practic-aplicative (de exemplu, găsirea
          tuturor posibilităților pentru tăierea unei benzi de L centimetri în bucăți de lungimi numere naturale egale,
          fără
          pierderi de material, posibilitatea de distribuire a N caiete unui număr de elevi astfel încât aceștia să
          primească
          același număr de caiete, ambalarea a N produse în cel puțin două pachete astfel încât numărul de pachete să
          fie
          minim și în fiecare pachet să fie același număr de produse)
        </li>
      </ul>
    </li>
    <br>

    <li>
      algoritmi elementari pentru determinarea celui mai mare divizor comun (algoritmul lui Euclid cu scăderi repetate,
      respectiv cu împărțiri repetate)
      <ul>
        <li>rezolvarea unei probleme ce determină cel mai mic multiplu comun a două numere pe baza celui mai mare
          divizor
          comun al lor, pentru obținerea duratei minime de timp după care două semafoare trec simultan la aceeași
          culoare,
          cunoscându-se, pentru fiecare, timpul de menținere a fiecărei culori (roșu și verde)
        </li>
        <li>proiectarea unui program ce implementează operații cu câte două fracții date prin numărătorul și numitorul
          lor
          (simplificare, adunare, scădere, înmulțire, împărțire), utilizând personalizat algoritmi de divizibilitate
        </li>
        <li>enumerarea etapelor algoritmului lui Euclid pentru determinarea celui mai mare divizor comun cu scopul
          determinării dimensiunii maxime a unei plăci de gresie de formă pătrată folosită pentru acoperirea completă,
          cu
          plăci întregi, a podelei unei săli de dimensiuni date
        </li>
        <li>reprezentarea în pseudocod a algoritmului lui Euclid pentru determinarea celui mare divizor comun a două
          numere
          naturale nenule citite, pentru utilizarea acestuia în contextul simplificării unei fracții
        </li>
      </ul>
    </li>
    <br>

    <li>
      repere pentru transformarea unui număr dintr-o bază de numerație în altă bază de numerație
      <ul>
        <li>enumerarea etapelor algoritmului de transformare în baza 2 a unui număr scris în baza 10 în contextul
          reprezentării în memorie a unui număr natural (de exemplu, codul ASCII asociat unei litere)
        </li>
      </ul>
    </li>

  </ul>
</div>
