<div>
  <p>Exemple de activități de învățare:</p>
  <ul>
    <li>
      caracteristici ale unor modalități de bază de comunicare cu programul: interfață de tip consolă, interfață grafică
      (ferestre, butoane, etichete, casete text), fișiere
      <ul>
        <li>explicarea rolului principalelor obiecte grafice într-o aplicație mai complexă, dată, care utilizează cât
          mai multe obiecte grafice (fereastră, etichetă, buton, casetă de text, listbox, messagebox, meniu)
        </li>
        <li>analizează avantajele și dezavantajele organizării elementelor grafice într-o fereastră, a textelor și a
          mesajelor asociate, în logica “user-friendly=ușor de utilizat”
        </li>
        <li>compararea unei aplicații cu interfață grafică în raport cu aceeași aplicație cu interfață text, evidențiind
          valențele fiecăreia (avantaje și dezavantaje)
        </li>
      </ul>
    </li>
    <br>

    <li>
      repere pentru identificarea și utilizarea altor clase și metode pentru realizarea interfețelor grafice
    </li>
    <br>

    <li>
      clase, caracteristici, funcții și metode de bază pentru interfețe grafice simple cu ferestre, butoane, etichete,
      casete text (Tk, Label, Button, Entry, Text, Frame, Canvas), afișare a mesajelor (MessageBox), comportament (pack,
      grid, place, get)
      <ul>
        <li>adăugarea unei casete de text într-o aplicație simplă, dată, cu o fereastră, o casetă de text și un buton
          care afișează un rezultat într-o fereastră de mesaje - MessageBox (de exemplu numărul de divizori), astfel
          încât rezultatul afișat să reflecte ambele valori din casetele de text (de exemplu numărul de divizori comuni)
        </li>
        <li>implementarea unei aplicații Python pentru afișarea, într-o fereastră, cu fundal colorat, a câte unui termen
          aparținând unui șir generat pe baza unei relații de recurență, utilizând două obiecte din clasa Button, cu
          proprietatea text completată sugestiv, pentru a marca pornirea, respectiv oprirea procesului de obținere a
          termenilor șirului
        </li>
      </ul>
    </li>

  </ul>
</div>
