<nav class="navbar">
  <ul class="menu">

    <li class="menu-item">Clasa a IX-a

      <ul class="dropdown">
        <li>Planificări calendaristice</li>
        <li>Proiecte ale unităților de învățare</li>
        <li class="has-submenu">Conținuturi
          <ul class="dropdown right">
            <li class="has-submenu">Resurse
              <ul class="dropdown right">
                @for (item of subMenuItems; track item) {
                  <a [routerLink]="item.route">
                    {{ item.label }}
                  </a>
                }
              </ul>
            </li>
            <li class="has-submenu">Instrumente digitale
<!--              <ul class="dropdown right">-->
<!--                <li>Option A</li>-->
<!--                <li>Option B</li>-->
<!--              </ul>-->
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="menu-item">Clasa a X-a</li>

  </ul>
</nav>
