<div>
  <ul>
    <li>
      caracteristici ale metodei de sortare prin selecția minimului și repere pentru aplicarea metodei
      <ul>
        <li>identificarea caracteristicilor metodei de sortare prin selecția minimului aplicată scenariului de aranjare
          a finaliștilor unui concurs de talente în ordinea crescătoarea a scorului obținut
        </li>
        <li>explicarea procesului de aranjare în ordine crescătoare a șapte comenzi online în funcție de valoarea
          comenzilor, folosind selecția minimului, cu reprezentarea ordinii comenzilor după fiecare parcurgere
        </li>
        <li>analizarea algoritmului de sortare prin selecția minimului, pentru o lista cu n valori, estimând numărul de
          comparări pentru un caz favorabil, un caz mediu și un caz nefavorabil
        </li>
        <li>compararea metodei de selecție a minimului cu altă metodă de sortare (de exemplu, metoda bulelor) aplicate
          pe un set de 200 de punctaje obținute de participanții la olimpiada de informatică din care se vor obține, în
          ordine descrescătoare, cele mai mari 10 punctaje, din perspectiva numărului de comparări și interschimbări
        </li>
      </ul>
    </li>
    <br>

    <li>
      caracteristici ale metodei de sortare cu listă de frecvențe și repere pentru aplicarea metodei
      <ul>
        <li>implementarea algoritmului de sortare cu listă de frecvențe pentru ordonarea notelor la testul de la
          informatică al unei clase de elevi (note întregi între 1 și 10), cu construirea listei de frecvențe prin
          numărarea frecvenței fiecărei note și afișarea notelor sortate prin parcurgerea listei
        </li>
        <li>argumentarea deciziei de utilizare a metodei de sortare cu listă de frecvențe pentru un sistem de triaj al
          pacienților din camera de urgență a unui spital, sistem bazat pe ordonarea descrescătoare a gravității stării
          lor medicale (codificată prin valori de la 1 la 5), ținând cont de caracteristicile datelor (număr mare de
          elemente, interval numeric limitat)
        </li>
        <li>implementarea unui program pentru gestionarea solicitărilor de mentenanță pentru o companie de lifturi, care
          își sortează cererile în funcție de tipul defecțiunii (codificat cu valori de la 1 la 8), obținându-se în
          final lista cererilor ordonate
        </li>
      </ul>
    </li>
    <br>

    <li>
      caracteristici ale metodei bulelor și repere pentru aplicarea metodei
      <ul>
        <li>recunoașterea caracteristicilor metodei bulelor (compararea elementelor adiacente, interschimbarea celor
          aflate în ordine necorespunzătoare) aplicată unui context real, precum ordonarea înălțimilor elevilor unei
          clase
        </li>
        <li>aplicarea metodei bulelor pentru ordonarea tuturor secvențelor de numere pozitive dintr-o listă (de exemplu,
          o listă de temperaturi înregistrate într-un oraș), prin implementarea algoritmului într-un limbaj de
          programare
        </li>
        <li>dezvoltarea unui program care utilizează metoda bulelor pentru organizarea programărilor zilnice ale unei
          clinici medicale în ordinea crescătoare a duratei consultațiilor, prin proiectarea algoritmului, testarea
          funcționării sale pe un set de date simulate și realizarea unei afișări care să evidențieze clar modul de
          aplicare al metodei
        </li>
      </ul>
    </li>

  </ul>
</div>
