.full-size-container {
  padding: 0;
  height: 100%;
  width: 100%;
  align-items: stretch;
}

.bold-text {
  font-weight: 700;
  font-size: 1rem;
}

.italic-text {
  font-style: italic;
}

.main-button {
  border: none;
  background-color: color-mix(in srgb, #1c52eb, #ffffff 15%);
  color: white;
  border-radius: 64px;
  padding: 0 32px;
}
