<div class="lesson-container">
  <div class="lesson-header">
    <span class="lesson-subject">Informatică · Clasa a IX-a</span>
    <h1>5. Fișiere text</h1>
    <a [routerLink]="['/clasa9a/fisiere-text-fise']" class="lesson-header__fise-link">
      Resurse pentru acest conținut
    </a>
  </div>
  <p class="lesson-section-label">Exemple de activități de învățare</p>
  <ul>
    <li>
      caracteristici ale unor modalități de bază de comunicare cu programul: fișiere
      <ul>
        <li>explicarea mecanismelor de citire și scriere într-un fișier și a noțiunii de "sfârșit de fișier"
          <div class="resource-block">
            <div class="resource-block__actions">
              <button class="generate-btn modal-btn modal-btn--close" (click)="showVideoSfarsitFisier = !showVideoSfarsitFisier">
                {{ showVideoSfarsitFisier ? 'Ascunde resursele' : 'Vezi resursele' }}
              </button>
            </div>
            <div [hidden]="!showVideoSfarsitFisier" class="video-wrapper">
              <app-video-embed videoId="LUKHyL7f9fA"/>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <br>

    <li>
      caracteristici, principii de lucru (deschidere, închidere, transfer de date);
      <ul>
        <li>completarea unui program "lacunar" care citește o valoare întreagă dintr-un fișier text pentru a scrie
          diverse rezultate obținute tot într-un fișier text (de exemplu pătratul și rădăcina pătrată sau divizorii
          acestuia)
          <div class="resource-block">
            <a [routerLink]="['/clasa9a/fisiere-lacunar']" class="generate-btn modal-btn modal-btn--close">
              Vezi resursele
            </a>
          </div>
        </li>
        <li>compararea timpului de executare a unui program care citește datele dintr-un fișier în raport cu același
          program care citește datele de la tastatură
          <button class="generate-btn modal-btn modal-btn--close" (click)="generateActivity('compararea timpului de executare a unui program care citește datele dintr-un fișier în raport cu același program care citește datele de la tastatură')">
            Generează fișă
          </button>
        </li>
        <li>evaluarea corectitudinii unui program cu fișiere text, pe baza unor teste adecvate care au în vedere și
          cazuri limită, de exemplu fișier inexistent, fișier gol
          <button class="generate-btn modal-btn modal-btn--close" (click)="generateActivity('evaluarea corectitudinii unui program cu fișiere text, pe baza unor teste adecvate care au în vedere și cazuri limită, de exemplu fișier inexistent, fișier gol')">
            Generează fișă
          </button>
        </li>
      </ul>
    </li>
    <br>

    <li>
      funcție pentru deschiderea unui fișier în Python, clasa predefinită TextIOWrapper din Python pentru prelucrarea
      fișierelor: caracteristici, metode de bază (pentru citire, scriere, închidere);
      <ul>
        <li>enumerarea etapelor în lucrul cu un fișier text și a metodelor corespunzătoare în Python: open(), read(),
          write() și close()
          <div class="resource-block">
            <a [routerLink]="['/clasa9a/fisiere-etape']" class="generate-btn modal-btn modal-btn--close">
              Vezi resursele
            </a>
          </div>
        </li>
      </ul>
    </li>
    <br>

    <li>
      repere pentru identificarea și utilizarea altor clase și metode, adecvate pentru prelucrarea fișierelor și
      pregătirea datelor citite din fișiere.
      <ul>
        <li>proiectarea unei aplicații de exploatare cu valențe practice a unui fișier text (de generare a unor serii
          aleatoare de numere folosind biblioteca random urmată de numărări și rezultate statistice pentru o astfel de
          serie generată)
          <button class="generate-btn modal-btn modal-btn--close" (click)="generateActivity('proiectarea unei aplicații de exploatare cu valențe practice a unui fișier text (de generare a unor serii aleatoare de numere folosind biblioteca random urmată de numărări și rezultate statistice pentru o astfel de serie generată)')">
            Generează fișă
          </button>
        </li>
      </ul>
    </li>

  </ul>
</div>
