<div>
  <ul>
    <li>
      caracteristici ale unor modalități de bază de comunicare cu programul: fișiere
      <ul>
        <li>explicarea mecanismelor de citire și scriere într-un fișier și a noțiunii de ”sfârșit de fișier”</li>
      </ul>
    </li>
    <br>

    <li>
      caracteristici, principii de lucru (deschidere, închidere, transfer de date);
      <ul>
        <li>completarea unui program ”lacunar” care citește o valoare întreagă dintr-un fișier text pentru a scrie
          diverse rezultate obținute tot într-un fișier text (de exemplu pătratul și rădăcina pătrată sau divizorii
          acestuia)
        </li>
        <li>compararea timpului de executare a unui program care citește datele dintr-un fișier în raport cu același
          program care citește datele de la tastatură
        </li>
        <li>evaluarea corectitudinii unui program cu fișiere text, pe baza unor teste adecvate care au în vedere și
          cazuri limită, de exemplu fișier inexistent, fișier gol
        </li>
      </ul>
    </li>
    <br>

    <li>
      funcție pentru deschiderea unui fișier în Python, clasa predefinită TextIOWrapper din Python pentru prelucrarea
      fișierelor: caracteristici, metode de bază (pentru citire, scriere, închidere);
      <ul>
        <li>enumerarea etapelor în lucrul cu un fișier text și a metodelor corespunzătoare în Python: open(), read(),
          write() și close()
        </li>
      </ul>
    </li>
    <br>

    <li>
      repere pentru identificarea și utilizarea altor clase și metode, adecvate pentru prelucrarea fișierelor și
      pregătirea datelor citite din fișiere.
      <ul>
        <li>proiectarea unei aplicații de exploatare cu valențe practice a unui fișier text (de generare a unor serii
          aleatoare de numere folosind biblioteca random urmată de numărări și rezultate statistice pentru o astfel de
          serie generată)
        </li>
      </ul>
    </li>

  </ul>
</div>
