<div class="full-size-container d-flex">
  <div class="half-page px-5" style="background-color: beige">
    <div class="bold-text italic-text text-center d-flex justify-content-center flex-column align-items-center">
      Curriculum de specialitate (CS) pentru filiera teoretică, profilul real, specializarea matematică-informatică
    </div>
    <a class="d-flex py-5">
      1. Strategii de rezolvare a problemelor. Principii de elaborare a unui program
    </a>
    <a class="d-flex py-5">
      2. Strategii de rezolvare a problemelor. Prelucrări ale numerelor
    </a>
    <a class="d-flex py-5">
      3. Memorarea datelor și organizarea codului în limbaj de programare. Subprograme
    </a>
    <a class="d-flex py-5">
      4. Memorarea datelor și organizarea codului în limbaj de programare. Introducere în programarea orientată pe obiecte
      în limbaj de programare
    </a>
    <a class="d-flex py-5">
      5. Memorarea datelor și organizarea codului în limbaj de programare. Biblioteca Tkinter din Python pentru interfețe
      grafice
    </a>
    <a class="d-flex py-5">
      6. Memorarea datelor și organizarea codului în limbaj de programare. Fișiere text
    </a>
    <a class="d-flex py-5">
      7. Organizarea conceptuală a datelor. Modelul conceptual liniar – listă
    </a>
    <a class="d-flex py-5">
      8. Memorarea datelor și organizarea codului în limbaj de programare. Clasa list din Python
    </a>
    <a class="d-flex py-5">
      9. Strategii de rezolvare a problemelor. Metode de generare sistematică a elementelor unei liste
    </a>
    <a class="d-flex py-5">
      10. Strategii de rezolvare a problemelor. Metode de sortare a elementelor unei liste
    </a>
  </div>
  <div class="half-page px-5" style="background-color: lightblue">
    <div class="bold-text italic-text text-center d-flex justify-content-center flex-column align-items-center">
      Curriculum de specialitate (CS) pentru filiera teoretică, profilul real, specializarea matematică-informatică,
      clase cu predarea disciplinei informatică în regim intensiv
    </div>
    <a class="d-flex py-5">
      1. Strategii de rezolvare a problemelor. Principii de elaborare a unui program
    </a>
    <a class="d-flex py-5">
      2. Strategii de rezolvare a problemelor. Prelucrări ale numerelor
    </a>
    <a class="d-flex py-5">
      3. Memorarea datelor și organizarea codului în limbaj de programare. Subprograme (în Python și C++)
    </a>
    <a class="d-flex py-5">
      4. Memorarea datelor și organizarea codului în limbaj de programare. Introducere în programarea orientată pe obiecte în
      limbaj de programare
    </a>
    <a class="d-flex py-5">
      5. Memorarea datelor și organizarea codului în limbaj de programare. Biblioteca Tkinter din Python pentru interfețe grafice
    </a>
    <a class="d-flex py-5">
      6. Memorarea datelor și organizarea codului în limbaj de programare. Fișiere text (în Python și C++)
    </a>
    <a class="d-flex py-5">
      7. Organizarea conceptuală a datelor. Modelul conceptual liniar – listă
    </a>
    <a class="d-flex py-5">
      8. Memorarea datelor și organizarea codului în limbaj de programare. Clasa list din Python și tablouri unidimensionale în
      C++
    </a>
    <a class="d-flex py-5">
      9. Strategii de rezolvare a problemelor. Metode de generare sistematică a elementelor unei liste
    </a>
    <a class="d-flex py-5">
      10. Strategii de rezolvare a problemelor. Metode de sortare a elementelor unei liste
    </a>
  </div>
</div>
